digest = "sha256:6850e0874faeee7725d7d1693e2bb45870ce3741b969da376f2e827cdb695efb"
symbols = ["__credits__", "__description__", "__keywords__", "__license__", "__readme__", "__requires_python__", "__status__", "__title__", "__version__", "cache", "evidence", "github", "github_files", "http_client", "package_files", "pypi", "scoring", "sigstore", "source_scanner", "url_scanner", "validation", "whois"]
